.header_div_title
{
    margin: 0;
    padding: 10px;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.nav_div_title
{
    margin: 0;
    padding: 18px;
    font-size: 20pt;
    font-family: 'Times New Roman'
}

.login_button
{
    /* Takes the underline of the hyperlink */
    text-decoration: none;
    color: #000000;
    /* You need to put display: block because anchors are inline elements in html*/
    display: block;
    text-align: right;
    margin: 0;
    padding: 18px;
    font-size: 20pt;
    font-family: 'Times New Roman'
}
.button_div_text
{
    display: block;
    text-align: center;
    font-size: 15pt;
    font-family: 'Times New Roman';
    text-decoration: none;
    color: #000000;

}

.parent_header_div
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.static
{
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index is the "height" for the object, it determines who is above who in the web-page */
    z-index: 100;
}

.static2
{
    position: fixed;
    width: 100%;
    top: 83px;
    /* z-index is the "height" for the object, it determines who is above who in the web-page */
    z-index: 100;
}

.child_header_div
{
    background-color: beige;
    margin: 0;
    padding: 5px;
    /* To add border: border: <width> <style> <color> */
    border: 3px solid black;
    border-right-width: 0;
    border-left-width: 0;
}

.right
{
    grid-column-end: auto;
}

.right_text
{
    text-align-last: right;
}

.left
{
    grid-column-start: auto;
}


.center
{
    align-items: center;
}

.parent_button_div
{
    background-color: beige;
    margin: 0;
    padding: 0;
    /* Do this to make it organize the child divs horizontally */
    display: flex;
}

.child_button_div
{
    /* Look up on GPT why to use flex: 1 */
    flex: 1;
    border: 2px groove black;
}

body
{
    background-color: #e0d2c8;
    /* I need to do margin and padding equals to 0 because browser usually puts them at 8px by default in body*/
    margin: 0;
    padding: 0;
}

.login_form
{
    background-color: beige;
    display: grid;
}

.login_rectangle
{
    background-color: beige;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    text-align: center;

}

.login_text
{
    margin: 15px;
    padding: 5px;
}

.error_div
{
    background-color: beige; 
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 500px;
    height: 350px;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.hero_title
{
    font-weight: bold;
    font-size: 25pt;
}

.hero_text
{
    font-size: 12pt;
}

.hero_image
{
    width: 475px; 
    height: 250px; 
    margin: 70px;
    display: block;
}

.hero_text_box
{
    font-size: 16pt; 
    margin: 70px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    display: block;
}