{% extends "layout.html" %}

{% block main %}    

    <div style="display: flex">
        <p class="hero_text_box"> <span class="hero_title">O QUE?</span> O Lithub é um projeto pessoal com o intuito de contribuir para a comunidade literária do município de Santa Cruz do Rio Pardo. 
            Esse projeto busca impactar a maior quantidade de leitores santacruzenses possíveis, sem nenhum fim lucrativo ou ambição de mudanção total da comunidade (apesar de pretender qualquer mudança que seja). 
            Nesse "hub" o leitor poderá contar com notícias literárias, um sebo virtual, um catálogo de livros de livrarias e de iniciativas, e avaliações e discussões de livros para quem já é leitor e quem pretende começar o hábito de ler livros</p>
        <figure>
            <img src="static/icons/biblioteca_scrp.png" class="hero_image">
            <figcaption style="transform: translate(0, -65px)">Biblioteca Municipal de Santa Cruz do Rio Pardo</figcaption>
        </figure>
    </div>
        <div style="display: flex">
        <figure>
            <img src="static/icons/sebo.png" class="hero_image">
            <figcaption style="transform: translate(0, -65px)">Imagem por dentro do sebo "Sebum"</figcaption>
        </figure>
        <p class="hero_text_box"> <span class="hero_title">POR QUE?</span> adadaedaef</p>
    </div>
    
{% endblock %}