{% extends "layout.html" %}

{% block main %}    

    <div style="display: flex">
        <p class="hero_text_box" > <span class="hero_title">O QUE?</span> O Lithub é um projeto pessoal com o intuito de contribuir para a comunidade literária da cidade de Santa Cruz do Rio Pardo (SP). 
            Esse projeto busca impactar a maior quantidade de leitores santacruzenses possíveis, sem nenhum fim lucrativo ou ambição de mudanção total da comunidade (apesar de pretender qualquer mudança que seja). 
            Nesse "hub" o leitor poderá contar com notícias literárias, um sebo virtual, um catálogo de livros de livrarias e de iniciativas, e avaliações e discussões de livros para quem já é leitor e quem pretende começar o hábito de ler livros</p>
        <figure>
            <img src="static/icons/biblioteca_scrp.png" class="hero_image">
            <figcaption style="transform: translate(0, -65px)">Biblioteca Municipal de Santa Cruz do Rio Pardo</figcaption>
        </figure>
    </div>
    <div style="display: flex">
        <figure>
            <img src="static/icons/sebo.png" class="hero_image">
            <figcaption style="transform: translate(0, -65px)">Imagem por dentro do sebo "Sebum". Fechado em 2024</figcaption>
        </figure>
        <p class="hero_text_box"> <span class="hero_title">POR QUE?</span> Os espaços de leitura de Santa Cruz estão cada vez mais limitados. Para uma população de mais 46 mil habitantes, contando com 97,48% da população com escolarização básica, o fato de haver apenas 1 livraria e nenhum sebo aberto demonstra um decaimento cultural da cidade. Como esse projeto se propõe a facilitar a discussão de temas e busca por material literário, ele tenta manter viva a comunidade ainda ativa e também busca chamar novos leitores da cidade.</p>
    </div>
        <div style="display: flex">
        <p class="hero_text_box"> <span class="hero_title">COMO?</span> Para manter vivo esse projeto o custo de hospedagem do site será pago pelo criador por tempo indefinido e precisará do apoio de livrarias e futuros sebos para o catálogo de livros. Além disso, o internauta precisa compartilhar esse site com o máximo de leitores e futuros leitores possíveis com o intuito de promover a leitura na cidade. A manutenção do site será feita gratuitamente pelo criador. Além disso, sugestões de recursos, bugs, ou qualquer ajuda para o desenvolvimento e manutenção do site são bem-vindas a todos, e está disponível para contato um FAQ no rodapé. Novamente, seções como o sebo virtual e o catalogo de livrarias não tem nenhum fim financeiro, sendo o lucro da venda de livros voltado totalmente ao anunciante no sebo ou a respectiva livraria, sendo as transações, no caso do sebo, efetuadas fora do site</p>
        <figure>
            <img src="static/icons/trem.png" class="hero_image">
            <figcaption style="transform: translate(0, -65px)">Locomotiva a vapor da Estação Graal. Uma réplica da antiga estação ferroviária "Sorocabana", símbolo municipal</figcaption>
        </figure>
    </div>
    
{% endblock %}