<!DOCTYPE html>
    <head>
        <title>LitHub</title>
        <link href="static/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="parent_header_div">
                <div class="child_header_div">
                    <p class="nav_div_title">Instagram</p>
                </div>
                <div class="child_header_div">
                    <p class="header_div_title">L I T - H U B</p>
                </div>
                <nav class="child_header_div">
                    <p class="nav_div_title_right">Login</p>
                </nav>

            </div>

            <div class="parent_button_div">
                <div class="child_button_div">
                    <p class="button_div_text">A</p>
                </div>
                <div class="child_button_div">
                    <p class="button_div_text">B</p>
                </div>
                <div class="child_button_div">
                    <p class="button_div_text">C</p>
                </div>
                <div class="child_button_div">
                    <p class="button_div_text">D</p>
                </div>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>


</html>