<!DOCTYPE html>
<!-- You can add multiple classes by tag, just cant do like this class="boo" class="zag" etc.-->
    <head>
        <title>LitHub</title>
        <link href="static/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="parent_header_div">
                <div class="child_header_div">
                    <p class="nav_div_title">Instagram</p>
                </div>
                <div class="child_header_div">
                    <p class="header_div_title">L I T - H U B</p>
                </div>
                <nav class="child_header_div">
                    <a class="login_button" href="/login">Login</a>
                </nav>

            </div>

            <div class="parent_button_div">
                <div class="child_button_div">
                    <a href="/noticias" class="button_div_text">Notícias</a>
                </div>
                <div class="child_button_div">
                    <a href="/sebo" class="button_div_text">Sebo</a>
                </div>
                <div class="child_button_div">
                    <a href="/livro" class="button_div_text">Livrarias</a>
                </div>
                <div class="child_button_div">
                    <a href="/iniciativas"class="button_div_text">Iniciativas</a>
                </div>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>


</html>