<!DOCTYPE html>
<!-- You can add multiple classes by tag, just cant do like this class="boo" class="zag" etc.-->
    <head>
        <title>LitHub</title>
        <link href="static/style.css" rel="stylesheet">
        <link href="static/icons" rel="icon">
    </head>

    <body>
        <header>
            <div class="parent_header_div">
                <div class="child_header_div">
                    <p class="nav_div_title">Instagram</p>
                </div>
                <div class="child_header_div">
                    <p class="header_div_title">L I T - H U B</p>
                </div>
                <nav class="child_header_div">
                    {% if not autenticado %}
                        <a class="login_button" href="/login">Login</a>
                    {% else %}
                        <a href="/minhaconta" class="login_button">{{ username }}</a>
                    {% endif %}
                </nav>

            </div>

            <div class="parent_button_div">
                <div class="child_button_div">
                    <a href="/notificacoes" class="button_div_text">Notificações</a>
                </div>
                <div class="child_button_div">
                    <a href="/meusebo" class="button_div_text">Meu Sebo</a>
                </div>
                <div class="child_button_div">
                    <a href="/favoritos" class="button_div_text">Favoritos</a>
                </div>
                <div class="child_button_div">
                    <a href="/minhaconta"class="button_div_text">Minha Conta</a>
                </div>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>

    <footer style="background-color: #000000">
        <p style="color: #ffffff; padding: 10px; margin: 0;">FAQ</p>
    </footer>