<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="login_rectangle">
            <p style="font-size: 25pt; font-weight: bold;">REGISTER</p>
            <form action="/register_ok" method="post">
                <input autocomplete="off" placeholder="Usuário" name="username" type="text">
                <input autocomplete="off" placeholder="Senha" name="password" type="text">
                <button class="login_text" type="submit">Enviar</button>
            </form>
            
        </div>
    </body>
</html>